#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&lt {
    quick-tap-ms = <180>;
    hold-trigger-on-release;
};

&mt {
    hold-trigger-on-release;
    require-prior-idle-ms = <180>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp Q  &kp W  &kp E        &kp R            &kp T             &kp Y                  &kp U        &kp I      &kp O    &kp P
&kp A  &kp S  &kp D        &lt 1 F          &mt LEFT_ALT G    &kp H                  &kp J        &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C        &kp V            &kp B             &kp N                  &kp M        &kp COMMA  &kp DOT  &kp FSLH
              &lt 4 MINUS  &lt 1 BACKSPACE  &mt LGUI RET      &mt LEFT_SHIFT ESCAPE  &lt 2 SPACE  &kp RALT
            >;
        };

        num {
            display-name = "NUM";
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6    &kp N7    &kp N8  &kp N9     &kp N0
&trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans
                &trans  &trans  &trans    &trans    &trans    &trans
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&kp EXCL  &kp AT     &kp HASH          &kp DLLR           &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR
&trans    &kp TILDE  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp GRAVE    &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH
&trans    &trans     &trans            &trans             &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE
                     &trans            &trans             &trans       &trans     &trans     &trans
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
&trans  &kp F7  &kp F8  &kp F9  &kp F12    &trans  &kp LS(LG(NUMBER_1))  &trans        &trans  &trans
&trans  &kp F4  &kp F5  &kp F6  &kp F11    &trans  &kp LG(MINUS)         &kp LG(PLUS)  &trans  &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F10    &trans  &trans                &trans        &trans  &trans
                &trans  &trans  &trans     &trans  &trans                &trans
            >;
        };

        sys {
            bindings = <
&trans          &trans        &trans        &trans        &trans          &msc SCRL_LEFT  &msc SCRL_UP       &msc SCRL_DOWN   &msc SCRL_RIGHT  &trans
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp K_PREV      &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &kp K_NEXT       &trans
&studio_unlock  &bootloader   &trans        &trans        &trans          &trans          &kp K_PLAY_PAUSE   &kp K_MUTE       &trans           &trans
                              &trans        &trans        &trans          &trans          &trans             &trans
            >;

            label = "SYS";
        };
    };
};
